@using Routes.Route
@{
    ViewBag.Title = "About";
    var url = new UriBuilder($"{Request.Url.Scheme}://{Request.ServerVariables["HTTP_HOST"]}{Request.ServerVariables["HTTP_URL"]}{Request.ServerVariables["HTTP_QUERY"]}")
    .Uri;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@url<br/>
@Url.Action()<br/>
@Url.Canonical()
<p>Use this area to provide additional information.</p>
